<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.ass.mapper.SaleMapper">

	<sql id="tableName">
          "REPORT_STOREDAYSALE"
     </sql>

	<sql id="field">
          "SALEDATE",
          "STORECODE",
          "AMT",
          "SUMAMT"
     </sql>

	<sql id="fieldValue">
          #{SALEDATE},
          #{STORECODE},
          #{AMT},
          #{SUMAMT}
     </sql>


	<select id="querySale"  resultType="EntitySale" parameterType="date">
    SELECT A.SALEDATE, D.STORENAME, A.AMT CURRAMT, B.AMT COMAMT,A.AMT-B.AMT COMINCREASE ,A.SUMAMT CURRSUM, C.SUMAMT HISSUM
	FROM REPORT_STOREDAYSALE A, REPORT_STOREDAYSALE B, REPORT_STOREDAYSALE C, REPORT_STOREINFO D,
			 REPORT_COMDAY E
 WHERE A.STORECODE = D.STORECODE AND B.STORECODE = D.STORECODE AND C.STORECODE = D.STORECODE AND
			 A.SALEDATE = #{SALEDATE} AND A.SALEDATE = E.CURRENTDATE AND
			 B.SALEDATE = E.COMPAREDATE AND C.SALEDATE = ADD_MONTHS(#{SALEDATE}, -12)
 ORDER BY D.STORESEQ
    </select>
</mapper>