<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.ws.ass.mapper.AssPlanMapper">

	<!-- 根据用户名查询 -->
<!--	<select id="getDemoByName" resultType="org.jeecg.modules.ass.entity.JeecgDemo">
		select * from  demo  where name = #{name}
	</select>-->
	<select id="getplanname" resultType="pagedata">
		select  planname from ass_plan
	</select>

	<select id="getRuleName" resultType="string" parameterType="string">
		select rulename from ass_plan where planname = #{planname}
	</select>
</mapper>